<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NeptunoConnection" 
         connectionString="Server=10.200.169.138,1433;Database=NeptunoDB;User Id=sa;Password=Neptuno_Strong_Passw0rd!;TrustServerCertificate=True;Connect Timeout=8;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
