<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NeptunoConnection" 
         connectionString="Server=localhost,1433;Database=NeptunoDB;User Id=sa;Password=NeptunoLab2026!;TrustServerCertificate=True;Connect Timeout=5;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
